body {
  background: #2c2c2c;
}
.App {
  text-align: center;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hobby-list {
    list-style: none;

    li {
      font-size: 2rem;
      transition: all 200ms;

      &:hover {
        border: 2px red solid;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
