* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms;
}
.App-main {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-main .window-width {
  position: absolute;
  top: 0;
  text-align: center;
  border: 2px dashed #fff;
  width: 100%;
}

.App-main .window-height {
  position: absolute;
  left: 0;
  text-align: center;
  border: 2px dashed #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
